.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .ant-form-item {
    width: 35%;

    .login-form-forgot {
      float: right;
    }

    .login-form-button {
      width: 100%;
      margin-bottom: 10px;
    }
  }
}