//font
$gotham-pro: 'Gotham Pro', sans-serif;
$gotham-medium: 'Gotham Pro Medium', sans-serif;

//button
$primary-btn: linear-gradient(180deg, #0077B5 0%, #0E6795 100%);
$premium-btn: linear-gradient(180deg, #D8C281 0%, #AC9B69 100%);

//color
$primary-color: #0275B1;
$secondary-color: #02B033;
$notify-color: linear-gradient(215.49deg, #FFB75E 5.4%, #ED8F03 93.45%);
$decline-color: #E7E7E7;


//background
$primary-bg: #E5E5E5;
$secondary-bg: #F7F9FB;