.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 24px;

  .create-post {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;

    .ant-form-item {
      &:first-child {
        width: 500px;
      }
    }
  }

  .news-feed {
    width: 100%;
  }
}