* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.layout {
  width: 100vw;
  min-height: 100vh !important;
}

.upload-item {
  .upload-btn {
    .ant-btn {
      span {
        margin-right: 10px;
      }
    }

    input[type="file"] {
      display: none !important;
    }
  }

  .upload-progress-preview {
    margin-top: 10px;
  }
}




